Django==1.6
django-extensions
gunicorn
ipdb
ipython

## userena needs django-guardian and easy-thumbnails
#django-guardian==1.1.0.beta
#django-userena==1.2.0
#easy-thumbnails==1.2

## optional
#django-simple-captcha==0.3.7

## For IPython Notebook
#tornado
#pyzmq

# django-debug-toolbar>=0.9.4
# django-admin-tools==0.5.1
# BeautifulSoup==3.2.1
# python-memcached
# pylibmc
# South>=0.7.5


## debugging

# dogslow - watchdog middleware class that logs tracebacks of slow requests
# https://pypi.python.org/pypi/dogslow
#dogslow
## or tipper (to allow non-wsgi apps to dump stacktraces on SIGUSR1)
# https://bitbucket.org/brodie/tipper
