Django==1.5.1
django-extensions==1.1.1
gunicorn>=0.17.2
ipdb
ipython

django-guardian==1.1.0.beta
django-userena==1.2.0
easy-thumbnails==1.2

## For IPython Notebook
#tornado
#pyzmq

# django-debug-toolbar>=0.9.4
# django-admin-tools==0.5.1
# BeautifulSoup==3.2.1
# python-memcached
# pylibmc
# South>=0.7.5
